<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<appSettings>
		<add key="LevelsPath" value="Levels" />
		<add key="UsersPath" value="Users" />
		<add key="SettingsFileName" value="settings.xml" />
		<add key="HighScoresFileName" value="high_scores.xml" />
		<add key="MaxHighScores" value="5" />
	</appSettings>
</configuration>
