<?xml version="1.0"?>
<configuration>
	<startup>
		
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
	<appSettings>
		<add key="LevelsPath" value="Levels"/>
		<add key="SavesPath" value="Saves"/>
		<add key="UsersPath" value="Users"/>
		<add key="SettingsFileName" value="settings.xml"/>
		<add key="HighScoresFileName" value="high_scores.xml"/>
		<add key="DefaultSettingsFileName" value="default_settings.xml"/>
		<add key="MaxHighScores" value="5"/>
		<add key="Levels" value="Level1;Level2"/>
	</appSettings>
</configuration>
