<?xml version="1.0"?>
<configuration>
	<configSections>
			<section
        name="DifficultyDefaults"
        type="Miner.DifficultyDefaultsDataSection, Miner"
      />
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<appSettings>
		<add key="LevelsPath" value="Levels"/>
		<add key="SavesPath" value="Saves"/>
		<add key="UsersPath" value="Users"/>
		<add key="SettingsFileName" value="settings.xml"/>
		<add key="HighScoresFileName" value="high_scores.xml"/>
		<add key="DefaultSettingsFileName" value="default_settings.xml"/>
		<add key="MaxHighScores" value="5"/>
		<add key="Levels" value="Level1;Level2"/>
	</appSettings>

	<DifficultyDefaults>
		<DifficultyLevelDefaults>
			<add levelName="Easy" maxOxygen="200" startLives="5" startDynamite="10"/>
			<add levelName="Medium" maxOxygen="150" startLives="3" startDynamite="5"/>
			<add levelName="Hard" maxOxygen="100" startLives="2" startDynamite="3"/>
		</DifficultyLevelDefaults>
	</DifficultyDefaults>
</configuration>
